html {
    height: 0%;
}
.recommendationPage {
    padding: 20px;
    background-color: hsl(227, 73%, 80%);
}

.recommendationBoxes {
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    /* justify-content: space-around; */
    font-size: large;
    flex-wrap: wrap;
}
